@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.eot');
    src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Medium.woff2') format('woff2'),
    url('../fonts/Metropolis-Medium.woff') format('woff'),
    url('../fonts/Metropolis-Medium.ttf') format('truetype'),
    url('../fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header {*/
/*    background: url('../images/bg.jpg') no-repeat 0 0 /cover;*/
/*}*/
.bg {
    background-color: rgba(0, 0, 0, 0.5);
}
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    margin: auto;
    align-items: center;
    max-width: 1175px;
    border-bottom: solid 2px #464646;
}

header form {
    width: 208px;
    height: 42px;
    background-color: #ebebeb;
    border-radius: 4px;
}

header form input[type="search"] {
    width: 70%;
    height: 42px;
    padding-left: 16px;
    border: none;
    background-color: transparent;
    font: 15px/15px 'Metropolis';
    color: #959595;
    outline: none;
}
header form button{
    line-height: 42px;
    width: 25%;
    border: none;
    text-align: center;
    padding-top: 5px;
    background-color: transparent;
    outline: none;
}
header form i{
    font-size: 17px;
    color: #fa090a;
}

header .link a {
    font-family: 'Metropolis';
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.online-store {
    background-color: #252525;
    text-align: center;
    padding:15px 0 ;
    text-decoration: none;
    margin-right: 25px;
    display: inline-block;
    width: 170px;
}
.log-in {
    background-color: #464646;
    text-align: center;
    padding:15px 0;
    text-decoration: none;
    margin-right: 25px;
    display: inline-block;
    width: 170px;
}
.sign-up-now {
    background-color: #fa090a;
    text-align: center;
    padding:15px 0;
    text-decoration: none;
    display: inline-block;
    width: 170px;
}
.nav-soc{
    max-width: 1175px;
    margin: auto;
    padding: 22px 0 26px;
    display: flex;
    justify-content: space-between;
}
.nav-soc ul {
    list-style: none;
    display: flex;
    justify-content: left;
}
.nav-soc nav ul a{
    font-size: 25px;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
}
.nav-soc nav :not(:last-child) {
margin-right: 29px;
}

.soc a {
    font-size: 30px;
    color: #fa090a;
}
.nav-soc .soc :not(:last-child) {
    margin-right: 15px;
}

.nav-soc nav ul li a:hover {
    padding-bottom: 7px;
    border-bottom: solid 4px #ff0000;
}

.social {
    padding: 30px;
}

/*.our-trainer {*/
/*    padding-bottom: 21px;*/
/*}*/

/*h1 {*/
/*    font-size: 50px;*/
/*    color: white;*/
/*    font-family: 'Bebas Neue', cursive;*/
/*    padding:67px 15px 25px;*/
/*    text-align: center;*/
/*    border-bottom: solid 3px #ff0000;*/
/*}*/